# Terraform
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform/
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.backup

# Env / OS
.env
.env.*
.DS_Store
.idea/
.vscode/
